<!DOCTYPE html>
<html lang="en-UK">
    <head>
        <meta charset="utf-8">
        <title>event board</title>
    </head>
    <body>
        <h1>EVENT BOARD - GROUP NAME HERE</h1>

        <h2>Future events:</h2>
        {% if events | length == 0 %}
            <h3> TBA </h3>
        {% endif %}
        {% for event in events %}
            <h3> {{ event.name }} </h3>
            <div>
                <b>{{ event.start_date_day_of_the_week|upper }}</b>
                {{ event.start_date_day_of_the_month }}
                {{ event.start_date_month_roman }}
                {{ event.start_date_year }}
                <b>{{ event.start_date_hour }}</b>-{{ event.end_date_hour }}
            </div>
            <div> {{ event.place_without_city }} <b>{{ event.place_city }}</b></div>
            <div> {{ event.remarks }}</div>
            <div>---</div>
        {% endfor %}

        <h3> Contact </h3>
        <div>
            <!--TODO make link a parameter        -->
            <a href="https://example.org">discord link</a>
        </div>
        <div>
            <!--TODO make contact email a parameter            -->
            host contact: example @example.com
        </div>
    </body>
</html>